@model CleanArchitecture.Domain.Models.NguoiDung

@{
    ViewData["Title"] = "Create1";
}

<h1>Create1</h1>

<div>
    <h4>NguoiDung</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenNguoiDung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenNguoiDung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaiKhoan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaiKhoan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatKhau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatKhau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayTao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayTao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoDienThoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoDienThoai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VaiTro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VaiTro)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
