@model IEnumerable<CleanArchitecture.Application.ViewModels.ChuDeDTO>

@{
    ViewData["Title"] = "ChuDe";
}

<h1>Chủ Đề</h1>
@using (Html.BeginForm())
{
    <p>
        <select name="loaiTimKiem">

            <option value="tenchude">Tên chủ đề</option>
        </select>
        Title: @Html.TextBox("dataTimKiem") <input type="submit" value="Tìm kiếm" />
    </p>
}
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenChuDe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThongTin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayTao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenChuDe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ThongTin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayTao)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    double totalPages = ViewBag.TotalPages;

    for (int i = 1; i <= totalPages; i++)
    {
        <div class="pagination" style="float:left">

            @Html.ActionLink(i.ToString(), "Index", new { dataTimKiem = ViewBag.dataTimKiem, loaiTimKiem = ViewBag.loaiTimKiem, PageNumber = i })

        </div>
    }
}
