@model CleanArchitecture.Application.ViewModels.BaiHocViewDetails

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bài Học</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.baiHoc.TenBaiHoc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.baiHoc.TenBaiHoc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.baiHoc.NgayTao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.baiHoc.NgayTao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.baiHoc.IdchuDeNavigation.TenChuDe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.baiHoc.IdchuDeNavigation.TenChuDe)
        </dd>


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.chiTietBaiHoc.NoiDung)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.chiTietBaiHoc.NoiDung)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.chiTietBaiHoc.LinkMp3)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.chiTietBaiHoc.LinkMp3)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.chiTietBaiHoc.GhiChu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.chiTietBaiHoc.GhiChu)
        </dd>
        <dt class="col-sm-2">
            <a asp-action="EditChiTietBaiHoc" asp-route-id="@Model.baiHoc.Id">Edit</a>
        </dt>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Câu Hỏi
                    </th>
                    <th>
                        Đáp Án A
                    </th>
                    <th>
                        Đáp Án B
                    </th>
                    <th>
                        Đáp Án C
                    </th>
                    <th>
                        Đáp Án D
                    </th>
                    <th>
                        Đáp Án Đúng
                    </th>
                    <th>
                        Gợi Ý
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.cauHois)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CauHoi1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DapAnA)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DapAnB)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DapAnC)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DapAnD)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DapAnDung)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GoiY)
                    </td>
                    <td>
                        <a asp-action="EditCauHoi" asp-route-id="@item.Id">Edit</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </dl>
</div>
<div>
    <a asp-action="EditChiTietBaiHoc" asp-route-id="@Model.baiHoc.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
